@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body.corp{
    overflow-x: hidden;
    background: rgb(24, 24, 24);
}
img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
img#logo{
    width: 100px;
    height: 100px;
}
div.efect-write{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
h4#text-write{
    /* position: absolute; */
    width: 100%;
    height: 1rem;
    font-family: "Outfit", sans-serif;
    text-align: center;
    font-size: 12pt;
    color: rgb(197, 197, 197);
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    /* border: 1PX solid lightgrey; */
    /* background-color: rgb(221, 221, 221); */
}

header nav ul li {
    display: inline;
    list-style: none;
    margin: 10px;
    color: rgb(68, 129, 194);
    font-size: 1.1rem;
    font-family: "Outfit", sans-serif;
    /* font-family: "Kalnia Glaze", serif; */


}



div#container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: 45s slideLeft ease infinite;
}

div.row-list {
    display: flex;
    flex-wrap: nowrap;
    /* overflow-x: scroll;
    overflow-y: none; */
}

ul.list-ul {
    width: 100%;
    height: 1.8rem;
    /* border: 1px solid grey; */
    background: rgb(27, 27, 27);
    text-wrap: nowrap;
    color: rgb(255, 255, 255);
}

div#container-header ul li {
    display: inline;
    text-transform: uppercase;
    font-size: 10pt;
    margin: 10px;
    color: white;
}

div.row-list::-webkit-scrollbar {
    overflow-x: none;
}

.scroll-container {
    overflow: hidden;
    /* Remove ambas as barras de rolagem */
}

.scroll-container {
    overflow-y: hidden;
    /* Remove apenas a barra de rolagem vertical */
}

.scroll-container {
    overflow-x: hidden;
    /* Remove apenas a barra de rolagem horizontal */
}


section{
    display: flex;
    justify-content: space-around;
}
section div{
    display: flex;
    justify-content: center;
    align-items: center;
}
section div input.form-control{
    width: 60rem;
}

li:hover{
    transition: 1s;
    border-bottom: 4px solid rgb(234, 0, 255);
}

p{
    color: rgb(0, 183, 255);
    margin-left: 20px;
}


main div.row-lay{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin: 20px;
    /* background:url(/public/img/back.png); */
    background-size: cover;
}

main.container-lay img{
    width: 22vmax;
    height: 20vmax;
    margin: 12px;
    border-radius: 10px;
}


div.center-baner{
    width: 95%;
    height: auto;
    text-align: center;
    margin: 20px;
}

div.center-baner img{
    width: 100%;
    height: 40vmax;
}

@media (max-width:590px){
    body.corp{
        overflow-x: hidden;
        background: black;
        margin: 0px;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    section div{
        display: flex;
        justify-content: center;
    }
    section div input.form-control{
        width: 100%;
    }
    p{
        text-align: center;
    }
    div.row-lay div{
        width: 100%;
        margin: 0px;
        padding: 0px;
        /* background:red; */
    }
    div.row-lay img{
        width: 94%;
        height: 10rem;

    }
    div.center-baner{
        width: 100%;
        margin: 0px;
        padding: 0px;
        /* background:red; */
    }
    div.center-baner img{
        width: 94%;
        height: 10rem;

    }
    header ul{
        display: none;
    }
    div.efect-write{
        padding: 20px;
        margin-top: -.3rem;
        color: purple;
    }
    h4#text-write{
        color: rgb(208, 2, 208);

    }
}



@keyframes slideLeft {
    0% {
        transform: translateX(100%);
        transition: 35s;
    }

    /* 20%{transition: 18s;} */
    50% {
        transform: translateX(0%);
        transition: 50s;
    }

    100% {
        transform: translateX(-145%);
        transition: 75s;
    }

    150% {
        transform: translateX(-45%);
        transition: 80s
    }

    ;
}

